AddDefaultCharset UTF-8
AddType application/font-woff .woff
AddType application/font-woff2 .woff2
AddType application/javascript .mjs
DirectoryIndex index.html
Options -Indexes
ServerSignature Off

# php_value auto_prepend_file auto_prepend_file.php
php_flag engine off
php_value date.timezone UTC
php_value default_charset utf-8