
.o-footer {
	display: grid;
	grid-template: "links copyright" / 1fr 1fr;

	@media (--screen-tablet-and-smaller) {
		grid-template: "copyright" "links" / 1fr 1fr;
	}
}

.o-footer__copyright {
	grid-area: copyright;
	text-align: right;

	@media (--screen-tablet-and-smaller) {
		text-align: left;
		margin-bottom: var(--space);
	}
}


.o-footer__links {
	grid-area: links;
	line-height: 1.6;
}
